# Node
*.log
*.log.*
node_modules

out/
dist/
main.js
metals.sbt
project/.bloop/
project/project/
project/target/
target
.cache/
.history/
.lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies

.idea
.idea_modules
.worksheet
*.class
.bloop/
.bsp/
.metals/
.scala-build/
.vscode/
